.title__second{
   margin-bottom: 16px;
   color: $font-colorPrimary;
   @include font (inherit, 24px, 600, 24px, 0.02em);
   @media (min-width:768px) {
	margin-bottom: 48px;
	font-size:  48px;
	line-height:32px ;
   }
}

.btn{
   padding: 10px 15px 10px 15px;
   color: $font-colorPrimary;
   @include font (inherit, 16px, 400, 20px, 0.02em);
   background-color: $backgroundSecond;
   border: 1px solid $accent;
   border-radius: 5px;
   width: 100%;
   transition: background-color 0.3s linear;
   &:hover, &:focus{
      background-color: $accent;
   }
}

.input,
.textarea {
   transition: box-shadow 0.3s linear;
   background-color: $backgroundSecond;
   outline: none;
   border: 1px solid $accent;
   border-radius: 5px;
   padding: 10px;
    @include font(Georgia, 16px, 300, 20px, 0.02em);
   color: $font-colorPrimary;
   overflow: hidden;
   
   &:hover,
   &:focus {
      box-shadow: 0 6px 12px rgba(255, 255, 255, 0.589);
   }
}

.title__fourth{
   @include font(Georgia, 20px, 600, 20px, 0.02em);
   color: $accent;
}

.icon {
   color: $accent ;
}

.error{
   color: rgb(231, 67, 67);
   @include font(Georgia, 14px, 200, 14px, 0.02em);
}

.position__container {
   position: relative;
}

.position__input {
   width: 100%;
   padding-right: 32px;
   min-width: 280px;
}

.position__icon {
   position: absolute;
   right: 8px;
   top: 50%;
   transform: translateY(-50%);
   pointer-events: none;
   transition: top 0.3s linear;
}

.position__input:hover ~ .position__icon,
.position__input:focus ~ .position__icon{
   top: -50%;
}
