@import '../sass/main.scss';

.comment__list {
	display: grid;
	gap: 16px;
	grid-template-columns: 1fr;
	width: 100%;

	@media (min-width: 1024px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (min-width: 1440px) {
		grid-template-columns: repeat(3, 1fr);
	}
}

.comment__item {
	width: 100%;
	min-width: 280px;
	border: 1px solid $accent;
	border-radius: 5px;
	background-color: $backgroundSecond;
	padding: 10px;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}