@import '../sass/main.scss';

.logo{
	padding-top: 40px;
	padding-bottom: 40px;
	width: 100%;
	@include flex(flex, center,center);
	background-color: transparent;

}

.logo__icon{
	animation: spin 15s linear infinite;
}

@keyframes spin {
	from {
		scale: 0.5;
		transform: rotate(0deg);
	}

	to {
		scale: 1.5;
		transform: rotate(-360deg);
	}
}