@import '../sass/main.scss';

.section{
	padding: 20px;
	border-bottom: solid, 1px, $font-colorPrimary;

	@media (min-width:768px) {
		padding: 30px;
	}

	@media (min-width:768px) {
		padding: 50px 40px 50px 40px;
	}
}