@import '../sass/main.scss';

.comment__title {
	margin-bottom: 10px;
}

.comment__text{
	@include font(Georgia, 16px, 300, 20px, 0.02em);
	color: $font-colorPrimary;
	margin-bottom: 10px;
}

.comment__butContainer{
	@include flex (flex, space-between, center);
}

.comment__but{
	margin-right: 10px;

	&:last-child{
		margin-right: 0px;
	}

		&__but-show {
			width: 100%;
		}
}

